:root {
  --bgColor: black; 
  --hiColor: chartreuse;
  --compuColor: darkgreen;
  --compuColor2: deepskyblue;
}
body {
  font-family: 'PT Sans Caption', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
#upPanel { 
  height: 10vh;
  width: 100vw;
  color: var(--compuColor2);
  background-color: var(--bgColor);
  border-bottom: solid;
  border-color: blue;
}
#centerPanel { 
  height: 60vh;
  width: 100vw;
  color: var(--compuColor);
  background-color: black;
}
#bottomPanel { 
  height: 30vh;
  width: 100vw;
  color: var(--compuColor2);
  background-color: var(--bgColor);
  border-top: solid;
  border-color: blue;
}
.compu {
  padding: 25px;
}
.starMap {
  width: 100%;
  height: 100%;
}
.systems {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  color: white;
  font-size: 10px;
  font-family: arial;
  width: 16.66vw;
  height: 14.28vh;
}
.systems2 {
  font-size: 20px
}
.systems3 {
  font-size: 10px
}

.systems2:hover {
  cursor: pointer;
}
.showFromMap {
  color: yellow;
  font-size: 10px;
}
table {
  table-layout: fixed;
}
th {
  text-align: center;
}
.greenText {
  color: green;
}
.whiteText {
  color: white;
}
.yellowText {
  color: yellow;
}
#systemMap {
  table-layout: fixed;
  width: 100%;
}
.locations {
  font-size: 70%;
}
.locations:hover {
  cursor: pointer;
}
.highlighted {
  color: var(--hiColor);
  border-style: solid;
  border-color: var(--hiColor);
}
.playerHere {
  border-style: solid;
  border-color: yellow;
}
#descPlace {
  height: 30%;
}