<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
    My Starship
    </title>
    <link rel="stylesheet" href="../closeCombat/style.css">
    <!-- Google fonts:-->
	  <link href="https://fonts.googleapis.com/css?family=Anton|Audiowide" rel="stylesheet">
  </head>
  
  <body>  
      <div id= "infoPlace"></div>
    <div id= "battleground">
      <canvas id= "combatGround" width= "1000" height= "600"></canvas>
      <div id= "infoGround" width= "1200" height= "600"></div>
    </div>
  </body>
  <script type= "module" src="../closeCombat/engine.js"></script>
  
</html>