:root {
  --colorFrom: black;
  --colorTo: white;
}
body {
  color: white;
  background-color: black;
  font-family: 'Audiowide', cursive;
}
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'upC upC upC'
    'leS ceS riS'
    'foo foo foo';
  grid-gap: 10px;
    
}
#upCenter { 
  grid-area: upC;
  text-align: center;
  border-bottom: solid;
  border-color: blue;
  height: auto;
}
#leftSection { 
  grid-area: leS;
  padding: 10px;
}
#centerSection { 
  grid-area: ceS;
  padding: 10px; 
  border-left: solid;
  border-right: solid;
  border-color: blue;
}
#rightSection { 
  grid-area: riS;
  padding: 10px; 
}
#foot { grid-area: foo;
  padding: 10px; 
  border-top: solid;
  border-color: blue;
}
.stars {

  color: white;
  text-shadow: 0 0 24px yellowgreen;
  /*transform:rotate(300deg);
  -webkit-transform:rotate(300deg); */
  z-index: -1;
}

input[type=button] {
  
  background: black;
  color: blue;
  font-size: 17px;
  border-color: deepskyblue;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  margin: 15px;
  font-family: 'Audiowide', cursive;
}
.but:hover {
  background: blue;
  color: black;
}
.yellowTxt {
  color: yellow;
}
/* Animations */
.fadingIn {
   -moz-animation: colorChange 6s; /* Firefox */
   -webkit-animation: colorChange 6s; /* Safari      and Chrome */
   -o-animation: colorChange 6s; /* Opera */
}
@keyframes colorChange {
    from {
        color: var(--colorFrom);
    }
    to {
        color:var(--colorTo);
    }
}
@-moz-keyframes colorChange { /* Firefox */
    from {
        color: var(--colorFrom);
    }
    to {
        color: var(--colorTo);
    }
}
@-webkit-keyframes colorChange { /* Safari and Chrome */
    from {
        color: var(--colorFrom);
    }
    to {
        color: var(--colorTo);
    }
}
@-o-keyframes colorChange { /* Opera */
    from {
        color: var(--colorFrom);
    }
    to {
        color: var(--colorTo);
    }
}
*/