body {
  color: white;
  background-color: black;
  font-family: 'Audiowide', cursive;
}
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'upC upC upC'
    'leS ceS riS'
    'foo foo foo';
  grid-gap: 10px;
    
}
#upCenter { 
  grid-area: upC;
  text-align: center;
  border-bottom: solid;
  border-color: blue;
}
#leftSection { 
  grid-area: leS;
  padding: 10px;
}
#centerSection { 
  grid-area: ceS;
  padding: 10px; 
}
#rightSection { 
  grid-area: riS;
  padding: 10px; 
}
#foot { grid-area: foo;
  padding: 10px; 
}
.stars {

  color: white;
  text-shadow: 0 0 24px yellowgreen;
  /*transform:rotate(300deg);
  -webkit-transform:rotate(300deg); */
  z-index: -1;
}
/*

.stars {

  color: white;
  font-size: 10px;
  margin: 30px 0px 0px 0px;
  text-shadow: 0 0 14px yellowgreen;
  transform:rotate(300deg);
  -webkit-transform:rotate(300deg); 
  z-index: 0;

}

.star1 {

  position: relative;
  float: left;
 
}

.star2 {

  position: relative;
  float: center;
  left: 40px;

}

.star3 {

  position: relative;
  float: center;
  left: 67px;
}
.star4 {

  position: relative;
  float: center;
  left: 140px;

}
.star5 {

  position: relative;
  float: right;

}
*/