/* container where are battleground and battleConsole*/
#container {
  display: grid;
  grid-template-colums: 25% 25% 25% 25%;
  grid-template-rows: 1fr;
  grid-template-areas: 
    'leftArea leftArea leftArea rightArea';
}
#battleground {
  position: relative;
  grid-area: leftArea;
}

/* canvas */
#combatGround {
  position: absolute;
  background-color: gray;
  z-index: 1;
}

#battleConsole {
  grid-area: rightArea;
  border: solid 3px black;
  color: black;
  height: 600px;
}

/* informatic console that is above the canvas*/
#infoGround {
  position: absolute;
  z-index: 2;
  background-color: transparent;
  text-shadow: 2px 0 0 navy, -2px 0 0 navy, 0 2px 0 navy, 0 -2px 0 navy, 1px 1px navy, -1px -1px 0 navy, 1px -1px 0 navy, -1px 1px 0 navy;
  color: gold;
  font-weight: bold;
  width: 100vw;
}

#infoPlace {
  color: black;
}

/* table */
.teamInfo {
  width: 50%;
  /* horizantaly centering: */
  margin: auto;
  /**/
  /*
  padding-top: 10%; 
  */
  /*border: 2px solid blue;*/
}

.teamInfo th {
  color: white;
  text-align: left;
}

.teamInfo td {
  margin: 25px;
  font-size: 70%;
}

/* Text color classes */
.blueText {color: blue;}
.whiteText {color: white;}
.redText {color: red;}

/*button in game, could be something nice and futuristic*/
.gameButton {
  background: yellow;
  color: black;
  border: solid 2px;
  border-radius: 5px;
}